@import 'variables';

.header {
  padding: 5px 0;

  .burger-menu {
    display: none;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: max-content;

    &-search {
      width: 50px;
      margin-left: 10px;
      font-size: 16px;
      font-weight: $font-weight-semi-bold;
      color: $color-blue;
      margin-right: 30px;

      &::placeholder {
        color: $color-blue;
      }
    }
  }
}

.header__text {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-right: auto;
}

.header__text-item:last-child {
  margin-left: 30px;
}

.header__text,
.header__entrance-link {
  font-size: 16px;
  font-weight: $font-weight-semi-bold;
  line-height: $line-height-main;
}

.header__entrance {
  display: flex;
  align-items: center;

  &-link {
    position: relative;
    display: flex;
    align-items: center;
    color: $color-blue;

    & i {
      margin-right: 8px;
    }

    &:last-child {
      margin-left: 20px;
    }

    &:first-child::after {
      content: '';
      position: absolute;
      display: block;
      width: 2px;
      height: 20px;
      right: -10px;
      background-color: $color-blue;
    }
  }
}

.header__btn {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: $font-weight-semi-bold;
  line-height: $line-height-main;
  color: $color-blue;
  margin-right: 30px;

  & i {
    color: $color-blue;
    margin-right: 7px;
  }
}

.logo__img {
  border-radius: 50%;
}

@media(max-width: 1120px) {
  .header {

    .burger-menu {
      display: block;
    }

    .logo {
      margin-left: 30px;
    }

    &__link {
      display: none;
    }
  }
}

@media(max-width: 810px) {
  .header {

    &__text {
      display: none;
    }

    .burger-menu {
      cursor: pointer;
      order: -1;
    }

    .logo {
      margin-left: 0;
      height: 50px;

      &__img {
        width: 50px;
      }
    }

    &__btn {
      padding: 5px;
      margin-right: 0;

      & i {
        margin-right: 0;
      }

      &-text {
        display: none;
      }
    }

    &__nav {
      display: none;
    }

    &__form {
      margin-left: auto;
      margin-right: 15px;
      cursor: pointer;

      & .icon-search {
        font-size: 25px;
      }

      &-search {
        display: none;
      }
    }

    &__entrance {
      display: flex;
      order: -1;
      margin-right: auto;
      margin-left: 15px;

      &-link i {
        margin-right: 0;
      }

      &-link:first-child {
        display: none;
      }

      &-link:last-child {
        margin-left: 0;

        & .icon-user {
          font-size: 25px;
        }
      }

      &-link:last-child &-text {
        display: none;
      }
    }
  }
}
