@import '../icons/style.css';
@import '../../node_modules/swiper/swiper';
@import 'fonts';
@import 'variables';
@import 'btn';
@import 'header';
@import 'banner';
@import 'advantages';
@import 'trips';
@import 'rating';
@import 'reviews';
@import 'warning';
@import 'footer';
@import 'registration';

* {
  font-family: $font-family-main;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: $font-size-main;
  font-weight: $font-weight-regular;
  line-height: 1;
  color: $color-blue;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $color-blue;
}

button,
input,
textarea,
select {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
}

.section__title {
  text-align: center;
  max-width: 637px;
  margin: 0 auto;
}
