@import 'variables';

.rating-result {
  width: 265px;
  display: flex;
  align-items: center;
  margin-top: 5px;

  .rating-item {
    padding: 0;
    font-size: 15px;
    color: lightgrey;
    cursor: pointer;
  }

  .rating-item:before {
    content: '★';
  }

  .rating-item.active {
    color: $color-gold;
    text-shadow: 1px 1px #c60;
  }
}
