@import 'variables';

.registration {
  padding: 60px 0 80px;

  &__title {
    text-align: center;
    font-size: 36px;
    line-height: 48px;
    color: $color-dark-blue;
    max-width: 865px;
    margin: 0 auto;
  }

  &__title-text {
    font-size: $font-size-main;
    font-weight: $font-weight-bold;
    line-height: $line-height-more-main;
    color: $color-purple;
    text-align: center;
    max-width: 505px;
    margin: 20px auto 0;

    .entrance-link {
      color: $color-blue;
    }
  }

  &__method {
    position: relative;
    padding: 33px 0;
    margin-top: 7px;

    &:not(:last-child) {
      border-bottom: 1px solid $color-gray;
    }

    &:not(:last-child)::after {
      content: 'Или';
      position: absolute;
      left: 50%;
      bottom: -10px;
      transform: translateX(-50%);
      background-color: $color-white;
      padding: 0 15px;
      font-size: 16px;
      line-height: 20px;
    }

    &-title {
      font-size: 21px;
      font-weight: $font-weight-extra-bold;
      line-height: $line-height-more-main;
      text-align: center;
      color: $color-dark-blue;
    }

    &-list {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 25px;
      margin-top: 25px;
    }

    &-text {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__form {

    .input__wrapper {
      max-width: 400px;
      margin: 0 auto;

      &:not(:first-child) {
        margin-top: 25px;
      }

      .registration__form-input {
        border: 1px solid $color-gray;
        background-image: url('../images/message-icon.svg');
        background-repeat: no-repeat;
        background-position: 15px center;
        width: 100%;
      }
    }
  }

  .registration__method {

    &-confirmation {
      text-align: center;
      max-width: 840px;
      margin: 24px auto 0 auto;
      line-height: $line-height-more-main;
      color: $color-purple;

      .registration__method-link {
        color: $color-blue;
      }
    }
  }
}

@media(max-width: 800px) {
  .registration {
    padding: 30px 0;

    &__title {
      font-size: 32px;
      line-height: 44px;
    }

    &__method {
      padding: 24px 0;
    }
  }
}

@media(max-width: 500px) {
  .registration {

    &__form-input {
      max-width: 100%;
      width: 100%;
    }
  }
}

@media(max-width: 400px) {
  .registration {

    .btn_social {
      padding: 20px 10px;
      background-size: 125px;
    }
  }
}
