$font-family-main: 'Gilroy', sans-serif;

$font-size-big: 50px;
$font-size-main: 24px;
$font-size-small: 18px;

$font-weight-extra-bold: 800;
$font-weight-semi-bold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;

$line-height-big: 64px;
$line-height-more-main: 28px;
$line-height-main: 18px;

$color-blue: #1383F1;
$color-opacity-blue: #E1ECFA;
$color-more-opacity-blue: #F5FAFF;
$color-dark-blue: #0D0052;
$color-azure: #7A96BB;
$color-purple: #5E5880;
$color-red: #EA0000;
$color-white: #fff;
$color-gray: #CECFD3;
$color-gold: #FFD660;

$border-radius-big: 50px;
$border-radius-medium: 15px;
