@import 'variables';

.warning {
  background-color: $color-more-opacity-blue;

  &__inner {
    background-image: url('../images/index/warning-bg.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto;
    padding: 130px 0;
  }

  &__text {
    max-width: 605px;
    font-size: 36px;
    font-weight: $font-weight-extra-bold;
    line-height: 48px;
    color: $color-dark-blue;
  }
}

@media(max-width: 1000px) {
  .warning {

    &__inner {
      background-position: bottom center;
      background-size: 75%;
      padding: 130px 0 410px;
    }

    &__text {
      text-align: center;
      margin: 0 auto;
    }
  }
}

@media(max-width: 750px) {
  .warning {

    &__inner {
      background-size: contain;
      padding: 130px 0 375px;
    }
  }
}

@media(max-width: 600px) {
  .warning {

    &__text {
      font-size: 26px;
      line-height: 32px;
    }
  }
}

@media(max-width: 550px) {
  .warning {

    &__inner {
      padding: 50px 0 350px;
    }
  }
}

@media(max-width: 410px) {
  .warning {

    &__inner {
      background-size: contain;
      padding: 50px 0 210px;
    }
  }
}
